@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

*{
  font-family: Mulish,sans-serif;
}
.nav-home{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
